* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b6d6cc;
  text-align: center;
}

h1 {
  margin: min(1.5vw, 1rem);
  color: #29339b;
  font-size: min(10vw, 6rem);
}
.container {
  height: min(70vh, 60vmin);
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 1.5vmin;
}

.cell {
  width: min(120px, 15vmin);
  height: min(120px, 15vmin);
  font-size: 8vmin;
  border-radius: min(20px, 1rem);
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  color: #b0413e;
  background-color: #f1fec6;
}

#reset-btn {
  margin: min(1.5vw, 1rem);
  padding: min(1.5vw, 1rem);
  font-size: min(10vw, 4rem);
  background: #74a4bc;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: min(20px, 2vw);
}

.cell:hover {
  cursor: pointer;
  background-color: #f1fec6;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.65);
}

.msg-container {
  width: min(80vw, 600px);
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  padding: min(2vw, 1rem);
  border-radius: min(20px, 1rem);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

#msg {
  font-size: min(15vw, 8rem);
  color: #29339b;
  margin: min(1.5vw, 1rem);
}

#new-btn {
  padding: min(1vw, 1rem);
  font-size: min(8vw, 3rem);
  background: #74a4bc;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: min(20px, 2vw);
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 999;
}
